<div class="col-xs-3">

	<h2>User info</h2>
	<table class="table">
			<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>

			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
	</table>

	<div class="row">
		<% if user.id == current_user.id %>
		  <%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<% else %>
		  <%= link_to '', user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<% end %>
	</div>

	<h2>New book</h2>
	<% if book.errors.any? %>
	    <%= book.errors.count %>件のerrorが発生しました
	    <% book.errors.full_messages.each do |message| %>
	        <%= message %>
	    <% end %>
    <% end %>
	<%= form_for(book) do |f| %>
		<div class="field row">
			<%= f.label :title %>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
		</div>

		<div class="field row">
			<%= f.label :body %> <!-- ここを変更 -->
			<%= f.text_area :body, class: "col-xs-12 book_body" %>
		</div>

		<div class="actions row">
			<%= f.submit class: "btn btn-primary col-xs-12" %>
		</div>
	<% end %>
</div>