<div class="col-xs-3">

	<h2>User info</h2>
	<table class="table">
			<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>

			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
			<tr>
				<th>
					<%=link_to "フォロー", follows_user_path(user.id) %><%= user.followings.count %> |
					<%=link_to "フォロワー", followers_user_path(user.id) %><%= user.followers.count %>
				</th>
			</tr>
	</table>

	<% if user == current_user %>
		<div class="row">
		  <%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		</div>
	<% end %>

	<% if user != current_user %>
        <% if user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn btn-primary" %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-default" %></p>
        <% end %>
    <% end %>

	<h2>New book</h2>
	<% if book.errors.any? %>
	    <%= book.errors.count %>件のerrorが発生しました
	    <% book.errors.full_messages.each do |message| %>
	        <%= message %>
	    <% end %>
    <% end %>
	<%= form_for(book) do |f| %>
		<div class="field row">
			<%= f.label :title %>
			<%= f.text_field :title, class: "col-xs-12 book_title" %>
		</div>

		<div class="field row">
			<%= f.label :body %> <!-- ここを変更 -->
			<%= f.text_area :body, class: "col-xs-12 book_body" %>
		</div>

		<div class="actions row">
			<%= f.submit class: "btn btn-primary col-xs-12" %>
		</div>
	<% end %>
</div>