<div class="container">
    <div class="row">
			<%= render 'users/profile', user: @user, book: @book2 %>
			<!--同コントローラーのviewで表示ならusersは省略可 -->
		<div class="col-xs-9">
			<h2>My Books</h2>
			<!--books一覧 -->
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th></th>
						<th></th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td>
							<%= link_to (book.user) do %>
							<%= attachment_image_tag(book.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %>
							<% end %>
						</td>
						<td><%= link_to book.title,book, class: "book_#{book.id}" %></td>
						<td><%= book.body %></td>
						<td>
							<div id="favorites_buttons_<%= book.id %>">
							    <%= render 'favorites/favorite', book: book %>
							</div>
						</td>
						<td>コメント数：<%= book.book_comments.count %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--books一覧 -->

<div class="container">
	<div class="row">
		<h2>gmap</h2>
<!-- 		<input id="address" type="textbox" value="Sydney, NSW">
 -->
		<!-- buttonをクリックしたらcodeAddressを実行　-->
<div id='map' class="<%= @user.user_address %>">
		</div>

		<style>
		#map{
		  height: 400px;
		}
		</style>

		
		<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initMap" async defer></script>
	</div>
</div>

